.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name TAKA
      .side-header__box__menu
        = link_to "#" do
          = icon('fa', 'edit', class: "side-header__box__menu__new-group")
        = link_to "#" do
          =icon('fa', 'cog', class: "side-header__box__menu__edit-user")
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to "#" do
          .group__group-name
            techcamp
          .group__latest-message
            まだメッセージがありません
    