@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./reset";
@import "./wrapper";
@import "./side_bar";
@import "./main_chat";
@import "modules/user";
@import "config/colors";
@import "modules/flash";

$main-skyblue: #38aef0;
$text-gray: #999999;
$main-darkblue: #253141;
$main-deepblue: #2f3e51;
$messagearea-gray: #fafafa;